<div class="detail_view">
<div class="detailed_view">
  <div class="small_description">
    <h1>{{ article.title }}</h1>
    <div class="date_and_author">
      <span class="author_name">
        {{ article.author }}
      </span>
      |
      <span class="publication">
        {{ article.publication }}
      </span>
    </div>
    <div class="featured_image">
      <img alt="900x350" src="http://placehold.it/900x350">
    </div>
  </div>
  <div class="article_body">
    <div class="body_content">
    </div>
    <div class="small_image_preview"></div>
  </div>
</div>
</div>